.toggle
  label.toggle__label(for='toggle-mailing')
    input.toggle__input(id='toggle-mailing' type='checkbox' name='mailing' value='on' checked)
    span.toggle__text Получать спецпредложения
//- unchecked state
.toggle
  label.toggle__label(for='toggle-mailing-unchecked')
    input.toggle__input(id='toggle-mailing-unchecked' type='checkbox' name='mailing' value='on')
    span.toggle__text Получать спецпредложения
