include ../input-field/input-field.pug
include ../dropdown-menu/dropdown-menu.pug

//-
  Parameters:
    options.optionNames {String[]} !required — array with options names
    options.hasButtonPane {Boolean} [false] — adds button panel
  Attributes:
    type=['text']
    value !required
mixin dropdown({ optionNames, hasButtonPane } = {})
  .dropdown.js-dropdown
    .dropdown__trigger.js-dropdown__trigger
      +input-field()(value='Change me' readonly='true')&attributes(attributes)
    .dropdown__menu.js-dropdown__menu
      +dropdown-menu({
        optionNames,
        hasButtonPane,
      })
