include ../input-field/input-field.pug
include ../dropdown-menu/dropdown-menu.pug

//-
  Parameters:
    optionNames {String[]} — array with options names
mixin dropdown()
  .dropdown.js-dropdown
    +input-field("dropdown")&attributes(attributes)
    .dropdown__menu
      +dropdown-menu({
        optionNames: ["Спальни", "Кровати", "Ванные комнаты"],
      })
