include ../input-field/input-field.pug
include ../dropdown-menu/dropdown-menu.pug

//-
  Parameters:
    options.optionNames {String[]} !required — array with options names
    options.hasButtonPane {Boolean} [false] — adds button panel
mixin dropdown({ optionNames, hasButtonPane } = {})
  .dropdown.js-dropdown
    +input-field('', 'dropdown')&attributes(attributes)
    .dropdown__menu
      +dropdown-menu({
        optionNames,
        hasButtonPane,
      })
