include ../input-field/input-field.pug
include ../counter/counter.pug


mixin dropdown-field( {optionNames, hasButtonPane = false} = {} )
  //- Принимает:
        optionNames {String[]} — массив названий для каждой строки dropdown'а
        hasButtonPane {bool} — флаг для панели кнопок

  //- Вызов:
        +dropdown-field(
          ["Спальни", "Кровати", "Ванные комнаты"],
          true
        ) — создает блок dropdown-field
            с id js-search-box__guests-dropdown для dropdown'а
            и 3-мя полями с соответствующим текстом
  .dropdown-field.js-dropdown-field
    +input-field("dropdown")&attributes(attributes)
    .dropdown-field__dropdown
      each optionName in optionNames
        .dropdown-field__row
          span.dropdown-field__text= optionName
          .dropdown-field__counter
            +counter()
      if ( hasButtonPane )
        .dropdown-field__row.dropdown-field__button-pane
          +button("Очистить", "reset")
          +button("Применить")
