//- This is a modification of code from https://github.com/nicothin/NTH-start-project/
//- Все примеси в этом файле должны начинаться c имени блока (dropdown-field)
mixin dropdown-field(id, optionTitles, buttonPane=false)

  //- Принимает:
        id {string} — id для dropdown'а
        optionsTitles {array} — массив названий для каждой строки dropdown'а
        buttonPane {bool} — флаг для панели кнопок

  //- Вызов:
        +dropdown-field(
          'js-search-box__guests-dropdown',
          true,
          ['Спальни', 'Кровати', 'Ванные комнаты']
        ) — создает блок dropdown-field
            с id js-search-box__guests-dropdown для dropdown'а
            и 3-мя полями с соответствующим текстом

  +input-field('dropdown')&attributes(attributes)
    .dropdown-field(id= id)
      each item in optionTitles
        .dropdown-field__row
          span.dropdown-field__text= item
          div.dropdown-field__counter
            i.material-icons.dropdown-field__button.dropdown-field__button_remove remove
            span.dropdown-field__quantity 0
            i.material-icons.dropdown-field__button.dropdown-field__button_add add

      if (typeof(buttonPane) !== 'undefined' && buttonPane)
        .dropdown-field__row.dropdown-field__buttonpane
          +button('Очистить', 'reset')
          +button('Применить')
