.dropdown-field {
  position: relative;
  z-index: 200;

  display: inline-block;
  vertical-align: middle;
  width: 100%;

  &_is-expanded &__dropdown {
    pointer-events: auto;
    opacity: 1;
  }

  &__dropdown {
    position: absolute;
    z-index: 200;
    width: 100%;
    top: 100%;
    left: 0;

    opacity: 0;
  }
}
