include ../input-field/input-field.pug
include ../dropdown-menu/dropdown-menu.pug

mixin dropdown-field()
  //- Принимает:
        optionNames {String[]} — массив названий для каждой строки dropdown'а
        hasButtonPane {bool} — флаг для панели кнопок

  //- Вызов:
        +dropdown-field(
          ["Спальни", "Кровати", "Ванные комнаты"],
          true
        ) — создает блок dropdown-field
            с id js-search-box__guests-dropdown для dropdown'а
            и 3-мя полями с соответствующим текстом
  .dropdown-field.js-dropdown-field
    +input-field("dropdown")&attributes(attributes)
    .dropdown-field__dropdown
      +dropdown-menu({
        optionNames: ["Спальни", "Кровати", "Ванные комнаты"],
      })
