footer.footer
  .footer__main
    .footer__item
      .logo
        img.logo__img(src='../../blocks/common.blocks/logo/logo.svg', alt='toxin logo', width='106', height='40')
        p.logo__description
          | lorem ipsum dolor sit amet consectetur
          | adipiscing elit aliquam eget nullam
          | pellentesque aliquam curabitur cociis.

    include ../footer-nav/footer-nav.pug

    include ../subscription/subscription.pug

  include ../footer-titres/footer-titres.pug
