include ../counter/counter.pug
include ../../library.blocks/button/button.pug

//-
  Parameters:
    options.optionNames {String[]} !required — array with options names
    options.hasButtonPane {Boolean} [false] — adds button panel
mixin dropdown-menu({ optionNames, hasButtonPane = false } = {})
  .dropdown-menu
    each optionName in optionNames
      .dropdown-menu__option
        span.dropdown-menu__option-text= optionName
        .dropdown-menu__counter
          +counter()
    if (hasButtonPane)
      .dropdown-menu__button-pane
        +button('Очистить', 'reset')
        +button('Применить')
