/** TO DO:
  *   + Rule out problem with vertical align of the button (maybe font family will help)
  *   + Rule out problem with vertical align of the nav__link (maybe that's true)
  *   -
  */

@topline-horizontal-padding: @site-padding;
@topline-vertical-padding: 15px;

.topline {
  &__inner {
    .container();

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  &__semantic-title {
    .visually-hidden();
  }

  &__reception {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: inherit;
  }

  &__entrance {
    margin-left: 15px;
  }

  &__button {
    @button-height: 34px;

    height: @button-height;
    line-height: @button-height - 2 * @button-border-width;

    &:last-child {
      margin-left: 20px;
    }
  }
}
