/** TO DO:
  *   + Rule out problem with vertical align of the button (maybe font family will help)
  *   + Rule out problem with vertical align of the nav__link (maybe that's true)
  *   -
  */

:root {
  --topline-height: 70px;
  --menu-button-height: 14px;
  --menu-button-padding: 5px;

  @media (max-width: 1050px) {
    --topline-height: 60px;
  }

  @media (max-width: 640px) {
    --topline-height: 50px;
  }
}

.topline {
  .block-default-styles();

  position: relative;
  z-index: 700;
  height: var(--topline-height);

  background-color: #fff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  &__container {
    .container();
  }

  &__inner {
    .block-default-styles();

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__semantic-title {
    .visually-hidden();
  }

  &__logo {

    .logo__img {
      @media (max-width: 670px) {
        height: 35px;
      }
    }
  }

  &__reception {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    background-color: #fff;

    @media (max-width: 1050px) {
      position: fixed;
      z-index: 800;
      top: 0;
      right: 0;
      height: 100%;

      flex-flow: column nowrap;
      justify-content: center;
      align-items: stretch;
      width: 40vw;
      min-width: 260px;

      box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
      transform: translate3d(100%, 0 , 0);
      overflow-y: scroll;

      opacity: 0;
      pointer-events: none;

      transition: transform 0.3s cubic-bezier(0.6, 0, 0, 1),
                  opacity 0.3s ease;
      will-change: transform, opacity;

      &_is-active {
        opacity: 1;
        pointer-events: auto;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &__entrance {
    margin-left: 15px;

    @media (max-width: 1050px) {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}


.menu-button {
  .not-selectable();

  // reset <button>, <input> styles
  padding: var(--menu-button-padding);
  border: none;
  background-color: transparent;

  // add standart behaviour of a <button> to compatibility with <a>
  // isolate component's rules from external influence
  // vertical-align: middle;

  // add standart behaviour of a <button> to compatibility with <a>
  // isolate component's rules from external influence
  box-sizing: border-box;

  display: none;

  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;

  @media (max-width: 1050px) {
    position: relative;
    z-index: 900;

    display: inline-block;
    vertical-align: middle;

    &_is-clicked {
      position: fixed;
      top: calc( (var(--topline-height) - (var(--menu-button-height) + 2 * var(--menu-button-padding)) ) / 2);
      right: var(--site-padding);
    }
  }

  &_is-clicked &__stripe:first-child {
    transform: translate3d(0, 6px, 0);
  }

  &_is-clicked &__stripe:nth-child(2) {
    transform: rotate(45deg);
  }

  &_is-clicked &__stripe:nth-child(3) {
    transform: rotate(-45deg);
  }

  &_is-clicked &__stripe:last-child {
    transform: translate3d(0, -6px, 0);
  }

  &_is-clicked &__stripe:nth-child(3n+1) {
    opacity: 0;
  }

  &__icon {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;

    width: 20px;
    height: var(--menu-button-height);
  }

  &__stripe {
    display: inline-block;
    vertical-align: middle;
    height: 2px;

    background-color: #colors[dark-shade-50];

    transition: transform 0.15s cubic-bezier(0.6, 0, 0, 1),
                opacity 0s ease 50ms;
    will-change: transform, opacity;
  }

  &__stripe:nth-child(3) {
    margin-top: -6px;
  }
}

.menu-overlay {
  position: fixed;
  z-index: 700;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  background-color: rgba(0, 0, 0, 0.2);

  pointer-events: none;
  opacity: 0;

  transition: opacity 0.3s ease;
  will-change: opacity;

  &_is-active {
    pointer-events: auto;
    opacity: 1;
  }
}
