header.topline
  .topline__container
    .topline__inner
      h1.topline__semantic-title toxin

      //- take into account footer's logo and interactive logo (not from index page)
      //- maybe topline__logo must be separate element (html tag)

      .topline__logo
        .logo
          //- add styles for alt atr (using logo__img class for that)
          img(
            class='logo__img'
            src='../../blocks/common.blocks/logo/logo.svg'
            alt='toxin'
            height='40'
          )

      button(type='button' id='menu-button' class='menu-button')
        div.menu-button__icon
          span(class='menu-button__stripe')
          span(class='menu-button__stripe menu-button__stripe_rotating')
          span(class='menu-button__stripe menu-button__stripe_rotating')
          span(class='menu-button__stripe')

      //- reception — a place where you can find navigation, entrance (login, register), profile info (Full Name and etc.)
      .topline__reception#menu
        .topline__topline-nav
          include ../topline-nav/topline-nav.pug
        .topline__entrance
          include ../entrance/entrance.pug

      div(class='menu-overlay' id='menu-overlay')
