/** TO DO:
  *   + Rule out problem with vertical align of the button (maybe font family will help)
  *   + Rule out problem with vertical align of the nav__link (maybe that's true)
  *   -
  */

@topline-horizontal-padding: @site-padding;
@topline-vertical-padding: 15px;


/* =================
    BLOCKS
  ================== */

.topline {
  // padding-top: @topline-vertical-padding;
  // padding-bottom: @topline-vertical-padding;
}

.topline__inner {
  .container();

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  padding-left: @topline-horizontal-padding;
  padding-right: @topline-horizontal-padding;
}

.topline__semantic-title {
  .visually-hidden();
}

.topline__reception {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: inherit;
}

.topline__entrance {
  margin-left: 15px;
}

.topline__button {
  @button-height: 34px;

  height: @button-height;
  line-height: @button-height - 2 * @button-border-width;

  &:last-child {
    margin-left: 20px;
  }
}
