header.topline
  .topline__container
    .topline__inner
      h1.topline__semantic-title toxin

      //- take into account footer's logo and interactive logo (not from index page)
      //- maybe topline__logo must be separate element (html tag)

      .topline__logo
        .logo
          //- add styles for alt atr (using logo__img class for that)
          svg(class="logo__img" width="106" height="40" alt="Toxin logo")
            use(href="../../blocks/common.blocks/logo/logo.svg")

      include ../topline-hamburger/topline-hamburger.pug

      //- reception — a place where you can find navigation, entrance (login, register), profile info (Full Name and etc.)
      .topline__reception#menu
        .topline__reception-inner
          .topline__topline-nav
            include ../topline-nav/topline-nav.pug
          .topline__entrance
            include ../entrance/entrance.pug

      include ../menu-overlay/menu-overlay.pug
