ul.pagination-display
  li.pagination-display__item
    a.pagination-display__link(href='#') 1
  li.pagination-display__item
    a.pagination-display__link(href='#') 2
  li.pagination-display__item
    a.pagination-display__link(href='#') 3
  li.pagination-display__item
    a.pagination-display__link(href='#') ...
  li.pagination-display__item
    a.pagination-display__link(href='#') 15
  li.pagination-display__item
    a.pagination-display__link(href='#')
      span.pagination-display__arrow
