.logo__img {
  // add other rules;
  // display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}

.logo__description {
  .body-text();

  margin-top: 20px;
  margin-bottom: 0;
}
