.range-slider
  .range-slider__header
    span.range-slider__title диапазон цен
    span.range-slider__output#js-range-slider__output 1 000₽–15 000₽
  .range-slider__input#js-range-slider__input
  p.range-slider__explanation
    | Стоимость за&nbsp;сутки пребывания
    | в&nbsp;номере
