.pie-chart
  .pie-chart__content
  .pie-chart__description
    +bullet-list([
      'Великолепно',
      'Хорошо',
      'Удовлетворительно',
      'Разочарован'
    ])(
      class='pie-chart__bullet-list'
    )
