.pie-chart
  .pie-chart__content
    svg
      use(href="../../images/Pie.svg" width="120" height="120")
  .pie-chart__description
    +bullet-list([
      'Великолепно',
      'Хорошо',
      'Удовлетворительно',
      'Разочарован'
    ])(
      class='pie-chart__bullet-list'
    )
