.media.cell-block
  .media__graphics
    i.material-icons.cell-block__icon insert_emoticon
  .media__content
    span.media__title Комфорт
    span.media__description Шумопоглошающие стены
.media.cell-block
  .media__graphics
    i.material-icons.cell-block__icon location_city
  .media__content
    span.media__title Комфорт
    span.media__description Шумопоглошающие стены
