include ../subscription-field/subscription-field.pug

aside.footer-subscription
  .footer-subscription__inner
    h3.footer-subscription__title Подписка
    p.footer-subscription__description
      | Получайте специальные
      | предложения и&nbsp;новости сервиса
    +subscription-field()
