.card
  .card__row
    h2.card__title Найдем номера под ваши пожелания

  .card__row
    include ../search-box/__datepicker/search-box__datepicker.pug

  .card__row
    include ../search-box/__dropdown/search-box__dropdown.pug

  .card__row
    +button('Подобрать номер', 'full-width')
