mixin counter()
  .counter.js-counter
    i.material-icons.counter__button.counter__button_is-disabled.counter__button_type_subtraction.js-counter__substraction-button remove
    span.counter__quantity-display.js-counter__quantity-display 0
    i.material-icons.counter__button.counter__button_type_addition.js-counter__addition-button add
