mixin counter()
  .counter.js-counter
    button.counter__button.counter__button_type_subtraction.js-counter__subtraction-button
      i.material-icons.counter__button-icon remove
    span.counter__quantity-display.js-counter__quantity-display 0
    button.counter__button.counter__button_type_addition.js-counter__addition-button
      i.material-icons.counter__button-icon add
