mixin counter()
  .counter.js-counter
    i.material-icons.counter__button.counter__button_is-disabled.counter__button_type_subtraction remove
    span.counter__quantity 0
    i.material-icons.counter__button.counter__button_type_addition add
