//- take into account footer's nav (with several sections) and simple lists (lists without nav)
nav.topline-nav
  //- visually hidden usually
  h2.topline-nav__semantic-title main navigation

  ul.topline-nav__list
    li.topline-nav__item
      a.topline-nav__link.topline-nav__link_active(href='#') home
    li.topline-nav__item
      a.topline-nav__link(href='#') about us
    li.topline-nav__item.topline-nav__item_expandable
      a.topline-nav__link(href='#') services
    li.topline-nav__item
      a.topline-nav__link(href='#') careers
    li.topline-nav__item
      a.topline-nav__link(href='#') news
    li.topline-nav__item
      a.topline-nav__link(href='#') documentation
