.topline-nav {

  &__semantic-title {
    .visually-hidden();
  }

  &__list {
    // reset default rulesets
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__item_expandable {
    position: relative;
    // background-color: red;

    &::after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 8px;

      position: absolute;
      // align to middle
      top: 50%;
      transform: translateY(-50%);

      right: 0;

      background: url('../blocks/common.blocks/topline-nav/topline-nav-expand-more.svg') no-repeat;
      // background-color: #999;
    }
  }

  &__link {
    .body-text();
    text-decoration: none;

    display: inline-block;
    // isolate component's rule from external influence
    vertical-align: middle;
    padding: 10px 15px;

    line-height: 1.21429; /* 17px = 14px * 1.21429 */
    font-family: #fonts[primary];
    color: #colors[dark-shade-50];
    text-transform: capitalize;
  }

  &__link_active {
    font-weight: 700;
    color: #colors[dark-shade-75];
  }
}
