.room-details-content
  .room-details-content__section
    span.room-details-content__title
      | Сведения о номере
    .room-details-content__content
      include ../cell-block-group/cell-block-group.pug

  .room-details-content__section
    span.room-details-content__title
      | Впечатления от номера

  .room-details-content__section.room-details-content__section_size_full
    .room-details-content__header
      span.room-details-content__title
        | Отзывы посетителей номера
      span.room-details-content__sub-title
        | 2 отзыва
    .room-details-content__content
      include ../comment/comment.pug

  .room-details-content__section
    span.room-details-content__title
      | Правила

  .room-details-content__section
    span.room-details-content__title
      | Отмена
