.room-details-content
  .room-details-content__container
    .room-details-content__inner
      .room-details-content__item
        include ../room-details-body/room-details-body.pug

      .room-details-content__item.room-details-content__calculation-box
        include ../calculation-box/calculation-box.pug
