.room-details-info
  .room-details-info__item
    +media('Комфорт', 'Шумопоглощающие стены')
      i(class='material-icons room-details-info__icon')
        | insert_emoticon

  .room-details-info__item
    +media('Удобство', 'Окно в&nbsp;каждой из&nbsp;спален')
      i(class='material-icons room-details-info__icon')
        | location_city

  .room-details-info__item
    +media('Уют', 'Номер оснащён камином')
      i(class='material-icons room-details-info__icon')
        | whatshot
