@import "./library.less";

.section {
  width: 320px;
  margin-bottom: 40px;
  // background-color: #999;

  &:last-of-type {
    // margin-bottom: 0;
  }

  &__title {
    .h3-text();

    margin-top: 0;
    margin-bottom: 16px;
  }

  &__row {
    display: block;
    margin-bottom: 30px;
  }

  &__row:last-child {
    margin-bottom: 0;
  }

  &__fieldset {
    .fieldset-styles-reset();
  }

  &__button {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  & .stateful-input_type_toggle {
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & .like-button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &_width_box {
    width: 380px;
  }

  &_width_inner-box {
    width: 270px;
  }
}
