@import "./library.less";

.section {
  width: 320px;
  // background-color: #999;

  &__title {
    .h3-text();
  }

  &__row {
    display: block;
  }

  &__row:not(:last-child) {
    margin-bottom: 30px;
  }

  &__button:not(:last-child) {
    margin-right: 20px;
  }
}
