:root {
  --site-padding: @site-paddings[xlarge];

  @media (max-width: 1024px) {
    --site-padding: @site-paddings[large];
  }

  @media (max-width: 740px) {
    --site-padding: @site-paddings[medium];
  }

  @media (max-width: 670px) {
    --site-padding: @site-paddings[small];
  }

  @media (max-width: 365px) {
    --site-padding: @site-paddings[xsmall];
  }
}

@site-paddings: {
  xlarge: 30px;
  large: 25px;
  medium: 20px;
  small: 15px;
  xsmall: 10px;
}

@site-width: 1280px;

#colors() {
  dark-shade-100: hsl(238, 35%, 19%);
  dark-shade-75: lighten(hsl(238, 35%, 19%), 25%);
  dark-shade-50: lighten(hsl(238, 35%, 19%), 50%);
  // change at the end
  // dark-shade-25: lighten(hsl(238, 35%, 19%), 75%);
  dark-shade-25: lighten(hsl(238, 35%, 19%), 65%);
  // dark-shade-10: lighten(hsl(238, 35%, 19%), 90%);
  dark-shade-10: rgba(31, 32, 65, 0.1);
  // dark-shade-5: lighten(hsl(238, 35%, 19%), 95%);
  dark-shade-5: rgba(31, 32, 65, 0.05);
  primary: #BC9CFF;
  secondary: #6FCF97;
}

#fonts() {
  primary: 'Montserrat', sans-serif;
  secondary: 'Quicksand', sans-serif;
}

@primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
@secondary-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
