button(type='button' id='menu-button' class='topline-hamburger')
  div.topline-hamburger__icon
    span(class='topline-hamburger__stripe')
    span(class='topline-hamburger__stripe')
    span(class='topline-hamburger__stripe')
    span(class='topline-hamburger__stripe')
