.search-result
  .search-result__content
    h2.search-result__title
      | Номера, которые мы для вас подобрали
    .search-result__grid
      .search-result__item
        a(class="search-result__link" href="../../../src/markup/pages/room-details.pug")
          include ../room-box/room-box.pug
      .search-result__item
        a(class="search-result__link" href="../../../src/markup/pages/room-details.pug")
          include ../room-box/room-box.pug
      .search-result__item
        include ../room-box/room-box.pug
      .search-result__item
        include ../room-box/room-box.pug
      .search-result__item
        include ../room-box/room-box.pug
      .search-result__item
        include ../room-box/room-box.pug
      .search-result__item
        include ../room-box/room-box.pug
      .search-result__item
        include ../room-box/room-box.pug
      .search-result__item
        include ../room-box/room-box.pug
      .search-result__item
        include ../room-box/room-box.pug
      .search-result__item
        include ../room-box/room-box.pug
      .search-result__item
        include ../room-box/room-box.pug
  .search-result__pagination
    include ../pagination/pagination.pug
