.room-details-head {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;

  width: 100%;
  height: 33vw;

  box-sizing: border-box;

  &__section {
    display: block;
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    &_main {
      flex: 1 1 65%;
    }

    &_secondary {
      flex: 1 0 35%;
    }
  }

  &__section-inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
  }

  &__section-item {
    flex: 1 1 50%;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;

    background: url(../images/room-details-888.jpg) #eee center/cover no-repeat;
    box-sizing: border-box;

    &_second {
      background-image: url(../images/room-details-888-2.jpg);
    }
    &_third {
      background-image: url(../images/room-details-888-3.jpg);
    }
  }
}
