.room-details-head
  .room-details-head__inner
    .room-details-head__main-section
      .room-details-head__image
    .room-details-head__secondary-section
      .room-details-head__section-inner
        .room-details-head__section-item
          .room-details-head__image.room-details-head__image_second
        .room-details-head__section-item
          .room-details-head__image.room-details-head__image_third
