.room-details-head
  .room-details-head__section.room-details-head__section_main
    .room-details-head__image
  .room-details-head__section.room-details-head__section_secondary
    .room-details-head__section-inner
      .room-details-head__section__item.room-details-head__image.room-details-head__image_second
      .room-details-head__section__item.room-details-head__image.room-details-head__image_third
