.text-field
  //- set up label, instead of placeholder
  label.text-field__label(for='text')
    //- there would be label content
    input.text-field__input(type='text' name='text' id='text' placeholder='Text' maxlength='24' autocomplete='' spellcheck='' required)
