.comment
  .media.comment__header
    .media__graphics
      img.comment__avatar(src='../../images/man.png' alt='commentator\'s avatar' width='48')
    .media__content
      span.media__title Мурад Сарафанов
      span.media__description 5 дней назад
  .comment__body
    .like-button
      input.like-button__input(id='toggle-like' type='checkbox' name='like' value='on' checked)
    p.comment__text
      | Великолепный матрас на&nbsp;кровати в&nbsp;основной спальне!
      | А&nbsp;пуфик вообще потрясающий. И&nbsp;стены, действительно,
      | шумоподавляющие. Выкрикивал комплименты повару&nbsp;&mdash;
      | никто не&nbsp;жаловался из&nbsp;соседей.
