//- This is a modification of code from https://github.com/nicothin/NTH-start-project/
//- Все примеси в этом файле должны начинаться c имени блока (checkbox)
mixin checkbox(labelText, mods)

  //- Принимает:
        labelText {string} — текст для label'а кнопки
        mods {string} — список модификаторов

  //- Вызов:
        +checkbox('Можно курить') — checkbox с label текстом 'Можно курить'
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' checkbox_' + modsList[i].trim();
      }
    }

  .checkbox(class=allMods)
    label.checkbox__label(for!=attributes.id)
      input.checkbox__input(type='checkbox')&attributes(attributes)
      span.checkbox__text!= labelText
