.rate-button
  input.rate-button__input(id='rate-button-5' type='radio' name='rating' value='5' title='Gorgeous' tabindex='' aria-label='')
  label.rate-button__label(for='rate-button-5' title='Gorgeous') 5 star

  input.rate-button__input(id='rate-button-4' type='radio' name='rating' value='4' title='Good' tabindex='' aria-label='' checked)
  label.rate-button__label(for='rate-button-4' title='Good') 4 star

  input.rate-button__input(id='rate-button-3' type='radio' name='rating' value='3' title='Normal' tabindex='' aria-label='')
  label.rate-button__label(for='rate-button-3' title='Normal') 3 star

  input.rate-button__input(id='rate-button-2' type='radio' name='rating' value='2' title='Bad' tabindex='' aria-label='')
  label.rate-button__label(for='rate-button-2' title='Bad') 2 star

  input.rate-button__input(id='rate-button-1' type='radio' name='rating' value='1' title='Terrible' tabindex='' aria-label='')
  label.rate-button__label(for='rate-button-1' title='Terrible') 1 star

.rate-button
  input.rate-button__input(id='rate2-button-5' type='radio' name='rating2' value='5' title='Gorgeous' tabindex='' aria-label='' checked)
  label.rate-button__label(for='rate2-button-5' title='Gorgeous') 5 star

  input.rate-button__input(id='rate2-button-4' type='radio' name='rating2' value='4' title='Good' tabindex='' aria-label='')
  label.rate-button__label(for='rate2-button-4' title='Good') 4 star

  input.rate-button__input(id='rate2-button-3' type='radio' name='rating2' value='3' title='Normal' tabindex='' aria-label='')
  label.rate-button__label(for='rate2-button-3' title='Normal') 3 star

  input.rate-button__input(id='rate2-button-2' type='radio' name='rating2' value='2' title='Bad' tabindex='' aria-label='')
  label.rate-button__label(for='rate2-button-2' title='Bad') 2 star

  input.rate-button__input(id='rate2-button-1' type='radio' name='rating2' value='1' title='Terrible' tabindex='' aria-label='')
  label.rate-button__label(for='rate2-button-1' title='Terrible') 1 star

