//-
  TODO:
    - check for modifierList necessity
    - change params order (modifierList should be at the end)

//-
  Parameters:
    modifierList {string} — list of modifiers
    labelText {string} — text inside <label> tag
  Attributes
    type=['text']
mixin input-field(modifierList, labelText)
  -
    const ELEMENT_CLASS_NAME = 'input-field_';
    const classList = !modifierList ? '' :
      ELEMENT_CLASS_NAME + modifierList
        .split(', ')
        .join(ELEMENT_CLASS_NAME);

  .input-field(class = classList)
    label.input-field__label(for != attributes.id)
      if ( labelText )
        span.input-field__text= labelText
      input.input-field__input(type='text')&attributes(attributes)
    block
