@input-field-height: 44px;
@input-field-border-width: 1px;

.input-field {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  color: #colors[dark-shade-75];

  &_dropdown {
    .decoration_type_expand-more();

    & .input-field__input {

      &::placeholder {
        color: #colors[dark-shade-75];
      }
    }
  }

  &_subscription {
    .decoration_type_arrow-forward();
    &::before {
      // styles for .decoration_type_arrow-forward();
      color: #colors[primary];
    }
  }
}

.input-field__input {
  .body-text();
  padding: 0;

  display: inline-block;
  vertical-align: middle;

  width: 100%;
  height: @input-field-height;
  line-height: @input-field-height - 2 * @input-field-border-width;
  padding-left: 15px;

  background-color: transparent;

  border: @input-field-border-width solid #colors[dark-shade-25];
  border-radius: 4px;

  box-sizing: border-box;

  transition: border 0.25s ease;

  &:hover,
  &:focus {
    border: 1px solid #colors[dark-shade-50];
  }

  &::-moz-placeholder {
    // make firefox styles compatible
    opacity: 1;
  }

  &::placeholder {
    // it seems that this doesn't work
    .default-styles-reset();

    color: #colors[dark-shade-25];
  }
}
