//-
  TODO:
    - check for modifierList necessity

//-
  Parameters:
    labelText {string} — text inside <label> tag
    modifierList {string} — list of modifiers
  Attributes
    type=['text']
    id !required
mixin input-field({ labelText, modifierList } = {})
  -
    const isLabelText = labelText !== undefined;
    const ELEMENT_CLASS_NAME = 'input-field_';
    const classList = !modifierList ? '' :
      ELEMENT_CLASS_NAME + modifierList
        .split(', ')
        .join(ELEMENT_CLASS_NAME);

  .input-field(class = classList)
    if (isLabelText)
      label.input-field__label(for != attributes.id)= labelText
    input.input-field__input(type='text')&attributes(attributes)
