//- This is a modification of code from https://github.com/nicothin/NTH-start-project/

mixin input-field(modifierList, labelText)
  //- Accepts:
        modifierList {string} — list of modifiers
        labelText {string} — text inside <label> tag
  //- Examples:
        +input-field('dropdown, subscription') — creates input-field
          with dropdown & subscription modifiers
        +input-field('', 'Date of birth') — create input-field
          with according label tag text
  -
    const ELEMENT_CLASS_NAME = "input-field_";
    const classList = !modifierList ? '' :
      ELEMENT_CLASS_NAME + modifierList
        .split(', ')
        .join(ELEMENT_CLASS_NAME);

  .input-field(class = classList)
    label.input-field__label(for != attributes.id)
      if ( labelText )
        span.input-field__text= labelText
      input.input-field__input&attributes(attributes)
    block
