.checkbox-dropdown {

  &__label {
    display: block;
    margin-bottom: 16px;

    cursor: pointer;
  }

  &__input {
    .default-styles-reset();
    .visually-hidden();
  }

  &__text {
    .h3-text();
    .decoration_type_expand-more(24px, 44px, 0);
    &::before {
      height: 15px;
      line-height: 15px;

      color: #colors[dark-shade-50];
      transition: transform 0.3s ease;
    }

    display: block;
  }

  &__body {
    display: none;
    opacity: 0;

    transition: opacity 0.3s ease;
  }

  &__fieldset {
    .fieldset-styles-reset();
  }

  &_is-expanded &__body {
    display: initial;
    opacity: 1;
  }

  &_is-expanded &__text {
    &::before {
      transform: rotate(-180deg);
    }
  }
}
