.checkbox-dropdown#facilities-additional-dropdown
  label.checkbox-dropdown__label(for='checkbox-dropdown')
    span.checkbox-dropdown__text Дополнительные удобства
    input.checkbox-dropdown__input(id='checkbox-dropdown' type='checkbox' name='checkbox-dropdown')

  .checkbox-dropdown__body
    .checkbox
      label.checkbox__label(for='checkbox-breakfast')
        input.checkbox__input(id='checkbox-breakfast' type='checkbox' name='facilities-additional' value='breakfast')
        span.checkbox__text Завтрак
    .checkbox
      label.checkbox__label(for='checkbox-desk')
        input.checkbox__input(id='checkbox-desk' type='checkbox' name='facilities-additional' value='desk')
        span.checkbox__text Письменный стол
    .checkbox
      label.checkbox__label(for='checkbox-feeding_chair')
        input.checkbox__input(id='checkbox-feeding_chair' type='checkbox' name='facilities-additional' value='feeding_chair')
        span.checkbox__text Стул для кормления
    .checkbox
      label.checkbox__label(for='checkbox-TV')
        input.checkbox__input(id='checkbox-TV' type='checkbox' name='facilities-additional' value='TV')
        span.checkbox__text Телевизор
    .checkbox
      label.checkbox__label(for='checkbox-shampoo')
        input.checkbox__input(id='checkbox-shampoo' type='checkbox' name='facilities-additional' value='shampoo')
        span.checkbox__text Шампунь
