.datepicker
  .datepicker__col
    span.card__input-text Прибытие
    +input-field('dropdown', 'datepicker__input-field')(class='datepicker__input' type='text' name='from-date' id='from-date' placeholder='ДД.ММ.ГГГГ' maxlength='30' autocomplete='' spellcheck='')
  .datepicker__col
    span.card__input-text Выезд
    +input-field('dropdown', 'datepicker__input-field')(class='datepicker__input' type='text' name='to-date' id='to-date' placeholder='ДД.ММ.ГГГГ' maxlength='30' autocomplete='' spellcheck='')
  .datepicker__output#datepicker__output
