include ./mixins.pug

doctype html
html(class='page' lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='')
    meta(name='keywords' content='')

  block head
    block title
      title Home Page
    //- replace with local fonts later
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Quicksand:400,700&display=swap&subset=latin-ext' rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    block main-styles
      link(href='../../styles/base.less' rel='stylesheet')


  body(class='page__body')
    .page__header
      include ../../blocks/common.blocks/topline/topline.pug

    main(class='page__content')
      block main

    .page__footer
      include ../../blocks/common.blocks/footer/footer.pug

    block page-bottom
      script(src='../../scripts/index.js')
