include ./mixins.pug

doctype html
html(lang=ru)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='')
    meta(name='keywords' content='')

  block head
    title Home
    link(href='../../styles/index.less' rel='stylesheet')
    //- replace with local fonts later
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Quicksand&display=swap' rel='stylesheet')

  body(class='page')
    include ../../blocks/common.blocks/topline/topline.pug

    main
      block main

    include ../../blocks/common.blocks/footer/footer.pug

    block page-bottom
      script(../../scripts/index.js)
