doctype html
html(lang=ru)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='')
    meta(name='keywords' content='')

  block head
    title Home
    link(rel='stylesheet' href='../../styles/index.less')

  body(class='page')
    //- maybe page__topline must be separate element (html tag)
    header.topline.page__topline
      //- or use prepproc capabilities instead of general class
      .page__container
        //- or use prepproc capabilities instead of general class
        h1.visually-hidden toxin

        //- take into account footer's logo and interactive logo (not from index page)
        //- maybe topline__logo must be separate element (html tag)
        .logo.topline__logo
          //- add styles for alt atr (using logo__img class for that)
          img.logo__img(src='../../blocks/common.blocks/logo/logo.svg', alt='toxin', width='106', height='40')

        //- reception — a place where you can find navigation, entrance (login, register), profile info (Full Name and etc.)
        .topline__reception
          //- take into account footer's nav (with several sections) and simple lists (lists without nav)
          nav.nav
            //- visually hidden usually
            h2.nav__title.visually-hidden main navigation
            ul.nav__content
              li.nav__item
                a.nav__link(href='#') home
              li.nav__item
                a.nav__link(href='#') about us
              li.nav__item.nav__item_expandable
                a.nav__link(href='#') services
              li.nav__item
                a.nav__link(href='#') careers
              li.nav__item
                a.nav__link(href='#') news
              li.nav__item
                a.nav__link(href='#') documentation

          .entrance
            .entrance__item.entrance__item_active
              button.btn login
              button.btn register
            .entrance__item
              p Cosmin Negoita

    main
      block main

    //- maybe page__footer must be separate element (html tag)
    footer.footer.page__footer
      .page__container
        .footer__main
          .footer__item
            .logo
              //- that's not a figure, I use it only for training purposes.
              figure
                img.logo__img(src='../../blocks/common.blocks/logo/logo.svg', alt='toxin logo', width='106', height='40')
                figcaption
                  p.logo__discription
                    | Lorem ipsum dolor sit amet consectetur
                    | adipiscing elit aliquam eget nullam
                    | pellentesque aliquam curabitur cociis.

          nav.nav.footer__item
            //- visually hidden usually
            h2.nav__title.visually-hidden footer navigation
            section.section
              h3.section__title navigation
              ul.list
                li.list__item
                  a.list__link(href='#') about us
                li.list__item
                  a.list__link(href='#') news
                li.list__item
                  a.list__link(href='#') support
                li.list__item
                  a.list__link(href='#') product

            section.section
              h3.section__title about us
              ul.list
                li.list__item
                  a.list__link(href='#') who we are
                li.list__item
                  a.list__link(href='#') our team
                li.list__item
                  a.list__link(href='#') careers
                li.list__item
                  a.list__link(href='#') investors

            section.section
              h3.section__title support
              ul.list
                li.list__item
                  a.list__link(href='#') documentation
                li.list__item
                  a.list__link(href='#') community
                li.list__item
                  a.list__link(href='#') get in touch

          aside.subscription.footer__item
            h3.subscription__title subscribe to our newsletter
            p.subscription__description
              | receive our latest news and
              | promotions in your inbox!
            form
              input.subscription__email(type='email')

        //- there would be a line for separation
        .footer__secondary
          p.footer__copyright Copyright © 2018 Toxin UI Kit. All rights reserved.

          .socials
            .socials__icon-tw 1
            .socials__icon-fb 2
            .socials__icon-ig 3

    block page-bottom
      script(../../scripts/index.js)
