//- Files placed here are used in several places as the opposite of the simple includes in others files
//- ununsed for now
include ../../blocks/library.blocks/image/image.pug
include ../../blocks/library.blocks/logo/logo.pug
include ../../blocks/library.blocks/list/list.pug
include ../../blocks/library.blocks/section/section.pug

include ../../blocks/library.blocks/button/button.pug
include ../../blocks/common.blocks/input-field/input-field.pug
include ../../blocks/common.blocks/datepicker/datepicker.pug
include ../../blocks/common.blocks/dropdown-field/dropdown-field.pug
include ../../blocks/common.blocks/stateful-input/stateful-input.pug
include ../../blocks/common.blocks/room-info/room-info.pug
include ../../blocks/common.blocks/rating/rating.pug
include ../../blocks/common.blocks/checkbox/checkbox.pug
