.footer-info
  .footer-info__container
    .footer-info__inner
      .footer-info__item.footer-info__item_for_logo
        .logo.footer-info__logo
          svg(class="logo__img" width="106" height="40" alt="Toxin logo")
            use(href="../../blocks/common.blocks/logo/logo.svg")

          p.logo__description
            | Бронирование номеров в&nbsp;лучшем
            | отеле 2019 года по&nbsp;версии
            | ассоциации &laquo;Отельные взгляды&raquo;
        .footer-info__socials
          include ../socials/socials.pug

      .footer-info__item.footer-info__item_for_footer-nav
        include ../footer-nav/footer-nav.pug

      .footer-info__item.footer-info__item_for_footer-subscription
        include ../footer-subscription/footer-subscription.pug
