.footer-info
  .footer-info__container
    .footer-info__inner
      .footer-info__item.footer-info__item_for_logo
        .logo
          img(
            class='logo__img'
            src='../../blocks/common.blocks/logo/logo.svg'
            alt='toxin logo'
            height='40'
          )
          p.logo__description
            | Бронирование номеров в&nbsp;лучшем
            | отеле 2019 года по&nbsp;версии
            | ассоциации &laquo;Отельные взгляды&raquo;
        .footer-info__socials
          include ../socials/socials.pug

      .footer-info__item.footer-info__item_for_footer-nav
        include ../footer-nav/footer-nav.pug

      .footer-info__item.footer-info__item_for_subscription
        include ../subscription/subscription.pug
