.hero {
  .block-default-styles();

  height: calc(100vh - @topline-height);
  background: url(../images/index-bg.jpg) center/cover no-repeat;

  &__container {
    .container();
  }

  &__inner {
    .block-default-styles();

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    padding-top: 70px;
  }

  &__tagline {
    .body-text();

    align-self: flex-end;
    text-align: right;
  }
}
