.hero
  .hero__container
    .hero__inner
      .hero__search-box
        include ../search-box/search-box.pug
      p.hero__tagline
        | Лучшие номера для вашей работы,
        br
        | отдыха и&nbsp;просто вдохновения.
