.rich-checkbox
  label.rich-checkbox__label(for='checkbox-wide-corridor')
    input.rich-checkbox__input(id='checkbox-wide-corridor' type='checkbox' name='accessibility' value='wide-corridor')
    .rich-checkbox__text
      span.rich-checkbox__title Широкий коридор
      span.rich-checkbox__hint Ширина коридоров в номере не менее 91 см.
.rich-checkbox
  label.rich-checkbox__label(for='checkbox-assistant')
    input.rich-checkbox__input(id='checkbox-assistant' type='checkbox' name='accessibility' value='assistant' checked)
    .rich-checkbox__text
      span.rich-checkbox__title Помощник для инвалидов
      span.rich-checkbox__hint На 1 этаже вас встретит специалист и проводит до номера.
