.footer-nav {
  .block-default-styles();
  .not-selectable();

  &__inner {
    .block-default-styles();

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__semantic-title {
    .visually-hidden();
  }

  &__title {
    .h3-text();

    margin-top: 0;
    margin-bottom: 10px;
  }

  &__list {
    .list-styles-reset();
  }

  &__link {
    .body-text();
    text-decoration: none;

    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 0;

    line-height: 1.21429; /* 17px = 14px * 1.21429 */
    color: #colors[dark-shade-50];

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
