nav.footer-nav.footer__item.footer__footer-nav
  //- visually hidden usually
  h2.footer-nav__semantic-title footer navigation

  section.section.footer-nav__section
    h3.section__title.footer-nav__title navigation

    ul.list.footer-nav__list
      li.list__item.footer-nav__item
        a.list__link.footer-nav__link(href='#') about us
      li.list__item.footer-nav__item
        a.list__link.footer-nav__link(href='#') news
      li.list__item.footer-nav__item
        a.list__link.footer-nav__link(href='#') support
      li.list__item.footer-nav__item
        a.list__link.footer-nav__link(href='#') product

  section.section.footer-nav__section
    h3.section__title.footer-nav__title about us

    ul.list.footer-nav__list
      li.list__item.footer-nav__item
        a.list__link.footer-nav__link(href='#') who we are
      li.list__item.footer-nav__item
        a.list__link.footer-nav__link(href='#') our team
      li.list__item.footer-nav__item
        a.list__link.footer-nav__link(href='#') careers
      li.list__item.footer-nav__item
        a.list__link.footer-nav__link(href='#') investors

  section.section.footer-nav__section
    h3.section__title.footer-nav__title support

    ul.list.footer-nav__list
      li.list__item.footer-nav__item
        a.list__link.footer-nav__link(href='#') documentation
      li.list__item.footer-nav__item
        a.list__link.footer-nav__link(href='#') community
      li.list__item.footer-nav__item
        a.list__link.footer-nav__link(href='#') get in touch
