.media {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  &__picture {
    display: block;
    margin-right: 10px;
  }

  &__text {
    .body-text();
  }

  &__title {
    display: block;
    margin-top: 0;
    margin-bottom: 2px;

    font-weight: 700;
  }

  &__description {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
}
