.room-details-body
  .room-details-body__container
    .room-details-body__inner
      .room-details-body__room-details-content
        include ../room-details-content/room-details-content.pug

      .room-details-body__calculation-box
        include ../calculation-box/calculation-box.pug
