.search {
  .block-default-styles();

  background-color: #fff;

  &__container {
    .container();
  }

  &__inner {
    .block-default-styles();

    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    padding-top: 30px;
    padding-bottom: 70px;
  }

  &__search-panel {
    flex-basis: 25%;
    min-width: 255px;
    padding-right: 5%;
  }

  &__search-result {
    flex-basis: 75%;
  }
}
