.search
  .search__container
    .search__inner
      .search__item.search__search-panel#search-panel
        .search__search-panel-inner
          include ../search-panel/search-panel.pug
        button(type='button').search__search-panel-button#search-panel-button
          i.material-icons navigate_next

      .search__item.search__search-result
        include ../search-result/search-result.pug
