.search
  .search__container
    .search__inner
      .search__search-panel
        include ../search-panel/search-panel.pug

      .search__search-result
        include ../search-result/search-result.pug
