.room-box-carousel
  .room-box-carousel__lever
    i.material-icons navigate_before
  .room-box-carousel__lever.room-box-carousel__lever_next
    i.material-icons navigate_before

  ul.room-box-carousel__pagination
    li.room-box-carousel__pagination-item
      span.room-box-carousel__pagination-link.room-box-carousel__pagination-link_active
    li.room-box-carousel__pagination-item
      span.room-box-carousel__pagination-link
    li.room-box-carousel__pagination-item
      span.room-box-carousel__pagination-link
    li.room-box-carousel__pagination-item
      span.room-box-carousel__pagination-link
