.room-details-media
  .room-details-media__section.room-details-media__section_main
    .room-details-media__image
  .room-details-media__section.room-details-media__section_secondary
    .room-details-media__section-inner
      .room-details-media__section__item.room-details-media__image.room-details-media__image_second
      .room-details-media__section__item.room-details-media__image.room-details-media__image_third
