.cell-block-group
  +cell-block('Комфорт', 'Шумопоглощающие стены', 'insert_emoticon')
  +cell-block('Удобство', 'Окно в&nbsp;каждой из&nbsp;спален', 'location_city')
  +cell-block('Уют', 'Номер оснащён камином', 'whatshot')
