.like-button
    input.like-button__input(id='toggle-like' type='checkbox' name='like' value='on' checked)
.like-button
    input.like-button__input(id='toggle-like-unchecked' type='checkbox' name='like' value='on')
