.room-box
  .room-box__header
    include ../room-box-carousel/room-box-carousel.pug

  .room-box__content
    .room-box__room-info
      +room-info('840', '9 900₽')
    .room-box__room-rating
      form.room-box__form(method='get' name='room-box-form' autocomplete='on')
        include ../room-rating/room-rating.pug
