.subscription-field
  //- set up label, instead of placeholder
  label.subscription-field__label(for='email')
    //- there would be label content
    input.subscription-field__input(type='email' name='email' id='email' placeholder='Your email address' maxlength='24' autocomplete='email' spellcheck='false' required)
    button.subscription-field__button(type='submit')
