span.card__input-text Гости
+input-field('dropdown')(type='text' name='guests' id='search-box__guests-input' placeholder='Сколько гостей' maxlength='10' autocomplete='' spellcheck='' required)
  .dropdown#search-box__dropdown
    .dropdown__row
      //- label.dropdown__label
      span.dropdown__text Взрослые
      //- input.dropdown__input(type='number' name='room-quantity' id='room-quantity' placeholder='' min='0' max='4' autocomplete='' spellcheck='')
      div.dropdown__counter
        i.material-icons.dropdown__button.dropdown__button_remove remove
        span.dropdown__quantity 0
        i.material-icons.dropdown__button.dropdown__button_add add
    .dropdown__row
      //- label.dropdown__label
      span.dropdown__text Дети
      //- //- input.dropdown__input(type='number' name='bed-quantity' id='bed-quantity' placeholder='' min='0' max='4' autocomplete='' spellcheck='')
      div.dropdown__counter
        i.material-icons.dropdown__button.dropdown__button_remove remove
        span.dropdown__quantity 0
        i.material-icons.dropdown__button.dropdown__button_add add
    .dropdown__row
      //- label.dropdown__label
      span.dropdown__text Младенцы
      //- input.dropdown__input(type='number' name='bath-quantity' id='bath-quantity' placeholder='' min='0' max='4' autocomplete='' spellcheck='')
      div.dropdown__counter
        i.material-icons.dropdown__button.dropdown__button_remove remove
        span.dropdown__quantity 0
        i.material-icons.dropdown__button.dropdown__button_add add
    .dropdown__row.dropdown__buttonpane
      +button('Очистить', 'reset')(href='#')
      +button('Применить')(href='#')
