extends ../layouts/library.pug

block title
  title Components Page

block main-styles
  link(href='../../styles/components.less' rel='stylesheet')

block body
  section.section
    h2.section__title checkbox buttons
    .section__row
      include ../../blocks/common.blocks/permission-form/permission-form.pug

  section.section
    h2.section__title radio buttons
    .section__row
      +stateful-input('Мужчина')(id='radio-button-sex-man' type='radio' name='sex' value='man' checked)
      +stateful-input('Женщина')(id='radio-button-sex-woman' type='radio' name='sex' value='woman')


  section.section
    h2.section__title toggle
    .section__row
      +stateful-input('Получать спецпредложения', 'type_toggle')(id='toggle-mailing' type='checkbox' name='mailing' value='on' checked)
      +stateful-input('Получать спецпредложения', 'type_toggle')(id='toggle-mailing-unchecked' type='checkbox' name='mailing' value='on')

  section.section
    h2.section__title like button
    .section__row
      include ../../blocks/common.blocks/like-button/like-button.pug

  section.section
    h2.section__title rate button
    .section__row.section__rate-buttons
      include ../../blocks/common.blocks/rate-button/rate-button.pug

  section.section
    h2.section__title rich checkbox buttons
    .section__row
      include ../../blocks/common.blocks/rich-checkbox/rich-checkbox.pug

  section.section
    h2.section__title bullet list
    .section__row
      include ../../blocks/common.blocks/bullet-list/bullet-list.pug

  section.section
    h2.section__title text field
    .section__row
      +input-field(type='text' name='text' id='text' placeholder='Text' maxlength='24' autocomplete='' spellcheck='' required)

  section.section
    h2.section__title masked text field
    .section__row
      +input-field(class='js-input-masked-date' type='text' name='text-masked' id='text-masked' placeholder='ДД.ММ.ГГГГ' maxlength='24' autocomplete='' spellcheck='' required)

  section.section
    h2.section__title dropdown
    .section__row
      +dropdown-field('js-dropdown-field__content', ['Спальни', 'Кровати', 'Ванные комнаты'])(type='text' name='dropdown-field-input' id='dropdown-field-input' placeholder='Выберите удобства' maxlength='24' autocomplete='' spellcheck='' required)

  section.section
    h2.section__title datepicker
    .section__row
      +datepicker('datepicker')

  section.section
    h2.section__title filter date dropdown
    .section__row
      +input-field('dropdown')(type='text' name='date-filter' id='date-filter' placeholder='Выберите дату' maxlength='24' autocomplete='' spellcheck='' required)

  section.section
    h2.section__title subscription field
    .section__row
      +input-field('subscription')(type='email' name='email' id='email' placeholder='Your email address' maxlength='24' autocomplete='email' spellcheck='false' required)

  section.section
    h2.section__title expandable checkbox list
    .section__row
      include ../../blocks/common.blocks/checkbox-dropdown/checkbox-dropdown.pug

  section.section
    h2.section__title cell-blocks
    .section__row
      //- include ../../blocks/common.blocks/media/media.pug
      include ../../blocks/common.blocks/cell-block/cell-block.pug

  section.section
    h2.section__title comments
    .section__row
      include ../../blocks/common.blocks/comment/comment.pug

  section.section
    h2.section__title range slider
    .section__row
      include ../../blocks/common.blocks/range-slider/range-slider.pug

  section.section
    h2.section__title buttons
    .section__row
      +button('click me', 'main')(href='#').section__button
      //- button with hover state
      +button('click me', 'main')(href='#').section__button
    .section__row
      +button('click me', 'secondary')(href='#').section__button
      //- button with hover state
      +button('click me', 'secondary')(href='#').section__button
    .section__row
      +button('click me')(href='#').section__button
      +button('click me', 'reset')(href='#').section__button
    .section__row
      +button('перейти к оплате', 'full-width').section__button

  section.section
    h2.section__title pagination
    .section__row
      include ../../blocks/common.blocks/pagination/pagination.pug

  section.section.section_block
    .section__row
      h2.section__title search box
      include ../../blocks/common.blocks/search-box/search-box.pug

  section.section.section_block
    .section__row
      h2.section__title registration box
      include ../../blocks/common.blocks/registration-box/registration-box.pug
