extends ../layouts/base.pug

block main
  .hero
    .hero__inner
      include ../../blocks/common.blocks/search-box/search-box.pug
      p.hero__tagline
        | Лучшие номера для вашей работы,
        br
        | отдыха и просто вдохновения
