extends ../layouts/base.pug


block title
  title Room Details Page

block main-styles
  link(href='../../markup/pages/room-details.less' rel='stylesheet')

block main
  .room-details
    .room-details__head
      include ../../blocks/common.blocks/room-details-head/room-details-head.pug
    .room-details__body
      include ../../blocks/common.blocks/room-details-body/room-details-body.pug

block page-bottom
  script(src='../../scripts/room-details.js')
