extends ../layouts/base.pug

block title
  title Room Details Page

block main
  //- include ../../blocks/common.blocks/search/search.pug
  .room-details
    .room-details__media
      .room-media
        .room-media__main-section
          .room-media__row
        .room-media__secondary-section
          .room-media__row
          .room-media__row

    .room-details__content
      .room-content
        .room-content__container
          .room-content__inner
            .room-content__details
              .room-content__section
              .room-content__section
              .room-content__section.room-content__section_size_full
              .room-content__section
              .room-content__section
            .room-content__calculation-box
              //- include
