extends ../layouts/base.pug

block title
  title Sign In Page

block main-styles
  link(href='../../markup/pages/sign-in.less' rel='stylesheet')

block main
  .sign-in
    .sign-in__container
      .sign-in__inner
        .sign-in__entry-box
          include ../../blocks/common.blocks/entry-box/entry-box.pug

block page-bottom
  script(src='../../scripts/sign-in.js')
