.subscription {
  .block-default-styles();

  &__inner {
    .block-default-styles();
  }

  &__title {
    .h3-text();

    margin-top: 0;
    margin-bottom: 20px;
  }

  &__description {
    .body-text();

    margin-top: 0;
    margin-bottom: 20px;
  }
}
