.footer-titres
  .footer-titres__container
    .footer-titres__inner
      p.footer-titres__copyright Copyright © 2019 Toxin отель. Все права защищены.

      .footer-titres__socials
        include ../socials/socials.pug
