.footer-titres {
  .block-default-styles();

  height: 70px;

  @media (max-width: 577px) {
    height: auto;
  }

  &__container {
    .container();
  }

  &__inner {
    .block-default-styles();

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 577px) {
      justify-content: center;
      text-align: center;
    }
  }

  &__copyright {
    .body-text();

    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;

    @media (max-width: 577px) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__socials {
    @media (max-width: 577px) {
      display: none;
    }
  }
}
