.footer-titres {
  .block-default-styles();

  height: 70px;

  &__container {
    .container();
  }

  &__inner {
    .block-default-styles();

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 577px) {
      justify-content: center;
      text-align: center;
    }
  }

  &__copyright {
    .body-text();

    line-height: 1.21429; /* 17px = 14px * 1.21429 */
  }

  &__socials{
    @media (max-width: 577px) {
      display: none;
    }
  }
}
