.radio-button
  label.radio-button__label(for='radio-button-man')
    input.radio-button__input(id='radio-button-man' type='radio' name='sex' value='man' checked)
    span.radio-button__text Мужчина
.radio-button
  label.radio-button__label(for='radio-button-woman')
    input.radio-button__input(id='radio-button-woman' type='radio' name='sex' value='woman')
    span.radio-button__text Женщина
