.entrance.topline__entrance
  //- .entrance__item
  .entrance__item.entrance__item_active
    +button('Войти', 'secondary')(
      href='/sign-in'
      class='topline__button'
    )
    +button('Зарегистрироваться', 'main')(
      href='/registration'
      class='topline__button topline__button_main'
    )
  //- .entrance__item.entrance__item_active
  .entrance__item
    p.entrance__user-name.topline__user-name cosmin negoita
