.entrance.topline__entrance
  .entrance__item.entrance__item_active
    //- a(href='#').button.button_secondary.topline__button login
    //- a(href='#').button.topline__button register
    +button('login', 'secondary')(href='#').topline__button
    +button('register')(href='#').topline__button
  .entrance__item
    p Cosmin Negoita
