.entrance.topline__entrance
  //- .entrance__item
  .entrance__item.entrance__item_active
    +button('login', 'secondary')(href='#').topline__button
    +button('register')(href='#').topline__button
  //- .entrance__item.entrance__item_active
  .entrance__item
    p.entrance__user-fname.topline__user-fname cosmin negoita
