.socials {

  &__inner {
    .block-default-styles();
  }

  &__list {
    .list-styles-reset();

    display: flex;
    flex-flow: row nowrap;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;

    display: inline-block;
    vertical-align: middle;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;

    background: no-repeat center;

    @media (max-width: 640px) {
      // background-size: 20px 20px;
    }

    &_tw {
      background-image: url(./images/socials__icon_tw.svg);

      @media (max-width: 640px) {
        // background-size: 22px 18px;
      }
    }

    &_fb {
      background-image: url(./images/socials__icon_fb.svg);
    }

    &_ig {
      background-image: url(./images/socials__icon_ig.svg);
    }
  }
}
