.socials {

  &__inner {
    display: flex;
    flex-flow: row nowrap;
  }

  &__list {
    .list-styles-reset();
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    text-decoration: none;

    display: inline-block;
    vertical-align: middle;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;

    background: no-repeat center;

    &_tw {
      background-image: url(../blocks/common.blocks/socials/socials__icon_tw.svg);
    }

    &_fb {
      background-image: url(../blocks/common.blocks/socials/socials__icon_fb.svg);
    }

    &_ig {
      background-image: url(../blocks/common.blocks/socials/socials__icon_ig.svg);
    }
  }
}
