ul.socials
  li.socials__item
    a.socials__link(href='#')
      span.socials__icon.socials__icon_tw
  li.socials__item
    a.socials__link(href='#')
      span.socials__icon.socials__icon_fb
  li.socials__item
    a.socials__link(href='#')
      span.socials__icon.socials__icon_ig
